---
---

@import "{{ site.theme }}";

.project-name {
  font-size: 2rem;
}

.project-tagline {
  margin-bottom: 1rem;
}

.page-header {
  padding: 2rem 1rem;
}

.main-content {
  padding: 1rem;
}

.site-footer {
  display: none;
}
